/* Reset & Base Styles */
* {
    padding: 0;
    margin: 0;
    font-family: 'helvetica', sans-serif;
}

body {
    background-color: #212427;
}

/* Header */
header {
    display: flex;
    background-color: #212427;
    height: 60px;
    align-items: center;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 1);
}

#header-title {
    color: #f3f3ff;
    text-decoration: none;
    font-size: 30px;
    margin-left: 20px;
    font-weight: 900w;
}

/* Hero Section */
#hero-section {
    background-color: #f3f3ff;
}

#hero-row {
    display: flex;
    padding: 40px;
}

#hero-col-1, #hero-col-2 {
    flex: 1;
}

#welcome-opening {
    font-size: 2rem;
    font-weight: 400;
}

#welcome-title {
    color: #0d6efd;
    font-weight: 900;
}

#welcome-text {
    margin-top: 10px;
    margin-bottom: 10px;
}

/* Fun Fact */
#fun-fact-title {
    background-color: #0d6efd;
    color: #f3f3ff;
    border-radius: 4px;
    padding: 1px;
    display: block;
    width: 5rem;
    font-weight: 600;
    text-align: center;
}

#fun-fact-text {
    color: #0d6efd;
}

/* Dancing Cow */
#dancing-cow {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

/* Projects Section */
#projects-section {
    background-color: #212427;
    color: #f3f3ff;
}

#projects-title {
    padding-top: 20px;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 900;
}

#projects-row {
    display: flex;
    padding-top: 40px;
    padding-bottom: 40px;
}

#projects-col-1, #projects-col-2, #projects-col-3 {
    flex: 1;
    text-align: center;
}

/* Project Buttons */
#project-btn-1,
#project-btn-2,
#project-btn-3 {
    width: 75%;
    display: block;
    margin: auto;
    border-radius: 4px;
    padding: 5px 0;
    text-decoration: none;
}

#project-btn-1 {
    border: 1px solid #0d6efd;
    background-color: rgba(255,255,255,0);
    color: #0d6efd;
}

#project-btn-1:hover {
    background-color: #0d6efd;
    color: #f3f3ff;
}

#project-btn-2,
#project-btn-3 {
    border: 1px solid #f3f3ff;
    background-color: rgba(255,255,255,0);
    color: #f3f3ff;
}

#project-btn-2:hover,
#project-btn-3:hover {
    background-color: #f3f3ff;
    color: #212427;
}

/* Footer */
footer {
    text-align: center;
    padding: 20px;
    background-color: #212427;
    color: #f3f3ff;
}

/* Blackjack Menu & Game Sections */
#bj-menu-section,
#bj-game-section {
    color: #f3f3ff;
}

/* Blackjack Menu */
#bj-title {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

#bj-play-button,
#bj-rules-toggle {
    display: block;
    margin: auto;
    border-radius: 4px;
    padding: 5px 0;
    font-size: 2rem;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: rgba(255,255,255,0);
}

#bj-play-button {
    border: 1px solid #0d6efd;
    color: #0d6efd;
    width: 25%;
}

#bj-play-button:hover {
    background-color: #0d6efd;
    color: #f3f3ff;
}

#bj-rules-toggle {
    border: 1px solid #f3f3ff;
    color: #f3f3ff;
    width: 25%;
}

#bj-rules {
    background-color: #000000;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    border: 1px solid #f3f3ff;
}

/* Blackjack Game Section */
#bj-game-section {
    display: none;
    padding-bottom: 30vw;
}

#bj-alert-container {
    text-align: center;
    color: #f3f3ff;
}

/* Blackjack Actions Row */
#bj-actions-row {
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* Blackjack Game Buttons */
#bj-hit-button,
#bj-restart-button,
#bj-stand-button {
    display: block;
    margin: auto;
    border: 1px solid #0d6efd;
    background-color: rgba(255,255,255,0);
    color: #0d6efd;
    border-radius: 4px;
    padding: 5px 0px;
    width: 20%;
    font-size: 2rem;
}

#bj-hit-button:hover,
#bj-restart-button:hover,
#bj-stand-button:hover {
    background-color: #0d6efd;
    color: #f3f3ff;
}

/* Blackjack Game Layout */
#bj-game-row {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}

#bj-game-col-1,
#bj-game-col-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

/* Blackjack Cards */
#bj-player-cards,
#bj-system-cards {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

#bj-player-cards > img,
#bj-system-cards > img {
    width: 20vw;
    height: auto;
}