* {
    padding: 0;
    margin: 0;
    font-family: 'helvetica', sans-serif;
}

body {
    background-color: #212427;
}

header {
    display: flex;
    background-color: #212427;
    height: 60px;
    align-items: center;
    box-shadow: 0px 0px 15px rgba(33,36,39,1); /* #212427 with alpha */
}

#header-title {
    color: #e4e4ff;
    text-decoration: none;
    font-size: 1.5rem;
    margin-left: 5vw;
    font-weight: 900;
}

#header-title:hover {
    color: #0d6efd;
}

#hero-section {
    background-color: #e4e4ff;
    height: 40vh;
}

@media (max-width: 600px) {
    #hero-section {
        height: 60vh;
    }
}

#hero-row {
    display: flex;
    padding: 5vh 5vw;
}

@media (max-width: 600px) {
    #hero-row {
        flex-direction: column;
    }
}

#hero-col-1, #hero-col-2 {
    flex: 1;
}

#welcome-opening {
    font-size: 2rem;
    font-weight: 400;
}

#welcome-title {
    color: #0d6efd;
    font-weight: 900;
}

#welcome-text {
    margin-top: 1vh;
    margin-bottom: 1vh;
}

#fun-fact-title {
    background-color: #0d6efd;
    color: #e4e4ff;
    border-radius: 4px;
    display: block;
    width: 5rem;
    font-weight: 600;
    text-align: center;
}

#fun-fact-text {
    color: #0d6efd;
}

#fun-fact-joke {
    background-color: #0d6efd;
    color: #e4e4ff;
    border-radius: 7px;
    white-space: nowrap;
    padding: 1vh;
}

#dancing-cow {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40vh;
}

@media (max-width: 600px) {
    #dancing-cow {
        width: 30vh;
    }
}

#projects-section {
    background-color: #212427;
    color: #e4e4ff;
    padding-top: 5vh;
}

#projects-title {
    width: 100%;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 900;
}

#projects-row {
    display: flex;
    padding-top: 5vh;
    padding-bottom: 5vh;
}

@media (max-width: 600px) {
    #projects-row {
        flex-direction: column;
        gap: 2vh;
    }
}

#projects-col-1, #projects-col-2, #projects-col-3 {
    flex: 1;
    text-align: center;
}

#project-btn-1,
#project-btn-2,
#project-btn-3 {
    width: 75%;
    display: block;
    margin: auto;
    background-color: transparent;
    border-radius: 4px;
    text-decoration: none;
    padding: 1vh 0;
    font-size: 1.5rem;
}

#project-btn-1 {
    border: 1px solid #0d6efd;
    color: #0d6efd;
}

#project-btn-1:hover {
    background-color: #0d6efd;
    color: #e4e4ff;
}

#project-btn-2,
#project-btn-3 {
    border: 1px solid #e4e4ff;
    color: #e4e4ff;
}

#project-btn-2:hover,
#project-btn-3:hover {
    background-color: #e4e4ff;
    color: #212427;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #212427;
    color: #e4e4ff;
    height: 10vh;
}

#project-menu-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #e4e4ff;
    color: #212427;
    height: calc(100vh - 60px);
}

#project-title {
    font-size: 2rem;
    text-align: center;
}

#project-menu-play-button {
    border: 2px solid #0d6efd;
    background-color: transparent;
    color: #0d6efd;
    border-radius: 4px;
    padding: 1vw 0;
    width: 40%;
    font-size: 2rem;
    margin-top: 5vh;
}

#project-menu-play-button:hover {
    background-color: #0d6efd;
    color: #e4e4ff;
}

#bj-section {
    background-color: #e4e4ff;
    color: #212427;
    height: calc(100vh - 60px);
}

#bj-button-row {
    display: flex;
    justify-content: center;
    gap: 1vw;
}

@media (max-width: 600px) {
    #bj-button-row {
        flex-direction: column;
        align-items: center;
    }
}

#bj-button-row button {
    border: 2px solid #0d6efd;
    background-color: transparent;
    color: #0d6efd;
    border-radius: 4px;
    padding: 0.5vw 0;
    width: 30vw;
    font-size: 1.5rem;
}

#bj-button-row button:hover {
    background-color: #0d6efd;
    color: #e4e4ff;
}

@media (max-width: 600px) {
    #bj-button-row button {
        width: 80vw;
    }
}

#bj-col-row {
    display: flex;
    justify-content: space-evenly;
}

#bj-player-col {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#bj-dealer-col {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#bj-hand-span {
    display: block;
    text-align: center;
}

#bj-player-col img,
#bj-dealer-col img {
    width: 10vw;
    height: auto;
}